<div class="text-slate-300">

    <div>
        Math.floor(Math.random() * 9) + 1; // 1-9
    </div>

    <div>
        enum
    </div>

    <div>
        loop through object
    </div>

    <div>
        interface
    </div>

    <div>
        slice vs. splice
    </div>

    <div>
        for loop - % 3
    </div>

    <div>
        sort
    </div>

    <div>
        string.match(/[0-9]/i);
    </div>

    <div>
        string.replace(/[^0-9a-z]/gi,’’);
    </div>

    <div>
        reduce()
    </div>

    <div>
        micro frontends - css display and position
    </div>

</div>