<div class="text-slate-300">

    <div>
        <button (click)="toggles['closures'] = !toggles['closures']">closures</button>
        <div *ngIf="toggles['closures']" class="italic">
            &nbsp;
        </div>
    </div>

    <div>
        <button (click)="toggles['event_loop'] = !toggles['event_loop']">event loop</button>
        <div *ngIf="toggles['event_loop']" class="italic">
            &nbsp;
        </div>
    </div>

    <div>
        <button (click)="toggles['merge_objects'] = !toggles['merge_objects']">merge objects</button>
        <div *ngIf="toggles['merge_objects']" class="italic">
            &nbsp;
        </div>
    </div>

    <div>
        <button (click)="toggles['rxjs'] = !toggles['rxjs']">rxjs</button>
        <div *ngIf="toggles['rxjs']" class="italic">
            &nbsp;
        </div>
    </div>

</div>