<div class="text-slate-300">

    <form ngForm="form">
        @for (name of names | slice: 0 : 2; track name.id) {
            <div class="mb-1">
                {{ name.name }}
            </div>
        }
        @for (car of cars; track car) {
            <div class="mb-1">
                <input name="car_{{ $index }}" [ngModel]="car">
            </div>
        }
        @for (number of numbers; track number) {
            <div class="mb-1">
                {{ number }}
            </div>
        }
    </form>

    <button (click)="toggleText()" class="mt-4 p-1 pl-4 pr-4 rounded-md border bg-slate-400 text-slate-700 font-semibold">
        {{ text }}
    </button>

</div>