<main class="text-center mt-10">
  <ul class="flex justify-center">
    <li class="m-3">
      <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
    </li>
    <li class="m-3">
      <a routerLink="/change-detection" routerLinkActive="active" ariaCurrentWhenActive="page">Change Detection</a>
    </li>
    <li class="m-3">
      <a routerLink="/pipes" routerLinkActive="active" ariaCurrentWhenActive="page">Pipes</a>
    </li>
  </ul>
  <div class="mt-10">
    <router-outlet />
  </div>
</main>