<main class="text-center mt-10">
  <ul class="flex justify-center">
    <li class="m-3">
      <a routerLink="/" class="text-slate-300" [routerLinkActive]="['underline', 'underline-offset-4']" ariaCurrentWhenActive="page" [routerLinkActiveOptions]="{exact: true}">Home</a>
    </li>
    <li class="m-3">
      <a routerLink="/change-detection" class="text-slate-300" [routerLinkActive]="['underline', 'underline-offset-4']"  ariaCurrentWhenActive="page" [routerLinkActiveOptions]="{exact: true}">Change Detection</a>
    </li>
    <li class="m-3">
      <a routerLink="/pipes" class="text-slate-300" [routerLinkActive]="['underline', 'underline-offset-4']"  ariaCurrentWhenActive="page" [routerLinkActiveOptions]="{exact: true}">Pipes</a>
    </li>
  </ul>
  <div class="mt-10">
    <router-outlet />
  </div>
</main>