<main class="text-center mt-10">
  <ul class="flex justify-center">
    <li class="m-3">
      <a routerLink="/" class="text-slate-300" [routerLinkActive]="['underline', 'underline-offset-4']" ariaCurrentWhenActive="page" [routerLinkActiveOptions]="{exact: true}">Home</a>
    </li>
    <li class="m-3">
      <a routerLink="/basics" class="text-slate-300" [routerLinkActive]="['underline', 'underline-offset-4']"  ariaCurrentWhenActive="page" [routerLinkActiveOptions]="{exact: true}">Basics</a>
    </li>
    <li class="m-3">
      <a routerLink="/change-detection" class="text-slate-300" [routerLinkActive]="['underline', 'underline-offset-4']"  ariaCurrentWhenActive="page" [routerLinkActiveOptions]="{exact: true}">Change Detection</a>
    </li>
    <li class="m-3">
      <a routerLink="/directives" class="text-slate-300" [routerLinkActive]="['underline', 'underline-offset-4']"  ariaCurrentWhenActive="page" [routerLinkActiveOptions]="{exact: true}">Directives</a>
    </li>
    <li class="m-3">
      <a routerLink="/pipes" class="text-slate-300" [routerLinkActive]="['underline', 'underline-offset-4']"  ariaCurrentWhenActive="page" [routerLinkActiveOptions]="{exact: true}">Pipes</a>
    </li>
    <li class="m-3">
      <a routerLink="/prep/one" class="text-slate-300" [routerLinkActive]="['underline', 'underline-offset-4']"  ariaCurrentWhenActive="page" [routerLinkActiveOptions]="{exact: true}">Questions</a>
    </li>
    <li class="m-3">
      <a routerLink="/prep/two" class="text-slate-300" [routerLinkActive]="['underline', 'underline-offset-4']"  ariaCurrentWhenActive="page" [routerLinkActiveOptions]="{exact: true}">JS Basics</a>
    </li>
    @if (false) {
      <li class="m-3">
        <a routerLink="/ngrx/ngrx-1" class="text-slate-300" [routerLinkActive]="['underline', 'underline-offset-4']"  ariaCurrentWhenActive="page" [routerLinkActiveOptions]="{exact: true}">NGRX 1</a>
      </li>
      <li class="m-3">
        <a routerLink="/ngrx/ngrx-2" class="text-slate-300" [routerLinkActive]="['underline', 'underline-offset-4']"  ariaCurrentWhenActive="page" [routerLinkActiveOptions]="{exact: true}">NGRX 2</a>
      </li>
    }
    <li class="m-3">
      <a routerLink="/reactive-forms" class="text-slate-300" [routerLinkActive]="['underline', 'underline-offset-4']"  ariaCurrentWhenActive="page" [routerLinkActiveOptions]="{exact: true}">Reactive Forms</a>
    </li>
  </ul>
  <div class="mt-10">
    @if (url === "/") {
      <img src="assets/images/babyhead.jpg" alt="Baby Head" class="m-auto mt-12 rounded-3xl" style="height: 150px">
    }
    <router-outlet />
  </div>
</main>